#main_container{
  height: 300px;
  width:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border: antiquewhite solid 5px;
  border-radius: 50%;
  background-image: linear-gradient(to right top, #25252c, #454955, #657082, #859bb1, #a5c9e1);
}

button{
  height: 35px;
  width: 50px;
  
}

#welcome{
  color: whitesmoke;
}
