*{
  margin:0;
  padding:0;
}

body {
  height:100vh;
  background-image: linear-gradient(to right top, #000428, #021a3d, #052a53, #053b6a, #004e82);
  display: flex;
  justify-content:center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
